.section404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    max-width: 600px;
    text-align: center;
    color: $color-1;
  }

  .text-404 {
    margin: 50px 0;
    max-width: 650px;
  }
}
