.about-chef {
  margin-top: 100px;
  margin-bottom: 100px;

  .about-chef-col1 {
    padding: 50px 0;

    p:nth-child(1)::first-letter {
      color: $color-accent;
      font-family: $ff-title;
      font-size: rem(60);
    }
  }
}

// Ordinateur
@media screen and (min-width: $vw-large) {
  .about-chef {
    display: flex;
  }

  .about-chef-col1 {
    padding: 50px !important;
  }
}
