.bg-image-group {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/palais-royal-vue.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  h2 {
    color: $color-6;
  }

  p {
    text-shadow: 0 0 11px #000000;
    color: $color-7;
    max-width: 500px;
    display: inline-flex;
  }
}