.features {
  margin: 60px 20px;

  ul {
    padding: 95px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 200px;
      text-align: center;

      img {
        width: 80px;
        margin-bottom: 12px;
      }

      &:not(:nth-child(3)) {
        margin-bottom: 92px;
      }
    }
  }
}

// Format tablette
@media screen and (min-width: $vw-small) {
  .features {
    ul {
      flex-direction: row;
      justify-content: space-around;

      li.subtitle {
        margin-bottom: 0;
      }
    }
  }
}