footer {
  background: $color-1;
  padding: 80px 0;

  .logo-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 209px;
      margin-bottom: 23px;
    }
  }

  .icon {
    width: initial;
  }

  .col-1, .col-2 {
    color: $color-6;

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .col-1 {
    margin-top: 44px;
    ul {
      display: flex;

      li:nth-child(1) {
        margin-right: 29px;
      }
    }
  }

  .col-2 {
    margin-top: 75px;
    ul {
      li {
        display: flex;
        align-items: end;

        img {
          margin-right: 17px;
        }
      }
    }
  }


}