footer {
  background: $color-1;
  padding: 80px 0;

  .logo-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 209px;
      margin-bottom: 23px;
    }
  }

  .icon {
    width: initial;
  }

  .col-1, .col-2 {
    color: $color-6;

    ul {
      list-style: none;
    }
  }


}