footer {
  background: $color-1;
  padding: 80px 0 20px;

  .logo-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 209px;
      margin-bottom: 23px;
    }
  }

  .icon {
    width: initial;
  }

  .col-1, .col-2 {
    color: $color-6;

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .col-1 {
    margin-top: 44px;
    ul {
      display: flex;

      li:nth-child(1) {
        margin-right: 29px;
      }
    }
  }

  .col-2 {
    margin-top: 75px;
    ul {
      li {
        display: flex;
        align-items: end;

        &:nth-child(1) {
          margin-bottom: 30px;
        }

        img {
          margin-right: 17px;
        }
      }
    }
  }

  .bottom-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 200px;

    li:not(.language-selector) {
      a {
        color: $color-4 !important;
      }
    }

    .language-selector {

      a {
        color: $color-6;
        font-size: rem(14);
        font-weight: $fw-bold;
      }

      img {
        margin-right: 13px;
      }
    }
  }
}

// Tablette
@media screen and (min-width: $vw-medium) {
  footer {
    .col-0 {
      display: flex;
      justify-content: space-between;
    }

    .footer-infos {
      display: flex;
      justify-content: space-between;
      width: 500px;
    }

    .col-2, .col-1 {
      margin-top: 0;
    }

    .bottom-footer {
      flex-direction: row;
      height: 20px;
    }
  }
}
