.hero {
  background: url("../images/hero-accueil.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-text {
    background: $color-6;
    text-align: center;
    padding: 80px 0;


    .subtitle {
      color: $color-3;
    }

    h1 {
      color: $color-2;
    }
  }
}

// Tablette
@media screen and (min-width: $vw-small) {
  .hero {
    .hero-text {
      padding: 100px;
    }
  }
}

// Ordinateur
@media screen and (min-width: $vw-large) {
  .hero {
    margin: calc(10vh + 50px) 45px;
    height: 79vh;
  }
}