.images-gallery {

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-1 {
  background: url("../images/gallery-1.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 204px;
}

.grid-2 {
  background: url("../images/gallery-2.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 204px;
}

.grid-3 {
  background: url("../images/gallery-3.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 203px;
}

.grid-4 {
  background: url("../images/gallery-4.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 204px;
}

.grid-5 {
  background: url("../images/gallery-5.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 161px;
}

.grid-6 {
  background: url("../images/gallery-6.png") no-repeat;
  background-size: cover;
  width: auto;
  height: 161px;
}