.language-selector-modale-hide {
  display: none !important;
}


.language-selector {
  position: relative;

  ul:nth-child(1) {
    position: absolute;
    bottom: 52px;
    right: -23%;

    &:after {
      content: ' ';
      //width: 15px;
      //height: 15px;
      position: absolute;
      left: 52%;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
    }
  }
}

li.language-selector-modale {
  background: white;
  padding: 20px;
  backdrop-filter: blur(25px);
  z-index: 9999;
  display: flex;
  width: 200px;
  height: 205px;
  border-radius: 10px;

  ul {
    padding-left: 0;
    list-style: none;

    li {

      a {
        font-size: 16px !important;
        font-weight: normal !important;

        &:hover {
          font-weight: $fw-bold !important;
        }
      }
    }
  }

  .modale-close {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 22px;
    width: 22px;
    cursor: pointer;
    background: #E9E9E9;
    border-radius: 18px;

    .modale-close-line-top, .modale-close-line-bottom {
      position: absolute;
      width: 10px;
      height: 1px;
      top: 10px;
      left: 6px;
      background-color: #848484;
    }

    .modale-close-line-bottom {
      transform: rotate(-45deg);
    }

    .modale-close-line-top {
      transform: rotate(45deg);
    }
  }
}