// Headings and text
$color-title-light: #FF2753;
$color-title-dark: #000;
$color-text-normal: #000;

// Backgrounds
$color-bg-page: #f9f9f9;
$color-bg-light: #fff;
$color-bg-dark: #000;

// Links
$color-link: #005eff;
$color-link-visited: $color-link;
$color-link-active: lighten($color-link, 15%);
$color-link-focus: $color-link;

// Color palette
$color-accent: #C79F6D;
$color-1: #000E05;
$color-2: #002C0F;
$color-3: #114222;
$color-4: #415347;
$color-5: #F5F5F5;
$color-6: #FFFFFF;
$color-7: #E9E9E9;

// Forms colors
$base-input-placeholder-color: #999;
$base-input-color: #000;
$base-input-background-color: #fff;
$base-input-background-focus-color: #fff;
$base-input-border-color: #ccc;
$base-input-border-focus-color: #000;
$base-select-box-height: 36px;
