$global-transition: all 300ms ease-in-out;

.small-text {
  font-size: 0.75rem;
  color: $color-4;
}

.subtitle {
  text-transform: uppercase;
  font-size: rem(16);
  line-height: 28px;
  letter-spacing: 0.095em;
  font-weight: $fw-bold;
}

// White background with gray border
.bg-white-border {
  background: $color-6;
  outline: 2px solid $color-7;
  outline-offset: 20px;
  margin: 20px 0;
}

// White background
.bg-white {
  background: $color-6;
  padding: 70px 0;

  h2 {
    color: $color-1;
  }
}

// Gold line before subtitle in hero
.subtitle-group {
  display: flex;
  align-items: center;

  .subtitle-line {
    margin-right: 15px;
    border-bottom: 3px solid $color-accent;
    width: 45px;
  }
}
