$global-transition: all 300ms ease-in-out;

.small-text {
  font-size: 0.75rem;
  color: $color-4;
}

.subtitle {
  text-transform: uppercase;
  font-size: rem(16);
  line-height: 28px;
  letter-spacing: 0.095em;
  font-weight: $fw-bold;
}

// Buttons
.btn-primary {
  text-transform: uppercase;
  font-size: rem(16);
  line-height: 28px;
  letter-spacing: 0.095em;
  font-weight: $fw-bold;
  border: 3px solid;
  display: inline-block;
  padding: 22px 50px;
  margin-top: 44px;
}

.btn-col1 {
  border-color: $color-accent;
  color: $color-accent !important;
}

// White background with gray border
.bg-white-border {
  background: $color-6;
  outline: 2px solid $color-7;
  outline-offset: 20px;
  margin: 20px;
}