$global-transition: all 300ms ease-in-out;

.small-text {
  font-size: 0.75rem;
  color: $color-4;
}

.subtitle {
  text-transform: uppercase;
  font-size: rem(16);
  line-height: 28px;
  letter-spacing: 0.095em;
  font-weight: $fw-bold;
}

// White background with gray border
.bg-white-border {
  background: $color-6;
  outline: 2px solid $color-7;
  outline-offset: 20px;
  margin: 20px;
}

// Black background
.bg-black {
  background: $color-1;
  padding: 70px 0;

  h2 {
    color: $color-6;
  }

  p {
    color: $color-5;
  }
}

// White background
.bg-white {
  background: $color-6;
  padding: 70px 0;

  h2 {
    color: $color-1;
  }
}