.wrapper{
  max-width: $max-width;
  margin: 0 auto;
}

.wrap {
  padding-left: 20px;
  padding-right: 20px;
}

// CSS Layout Grid to build the wrapper
.grid-wrapper{
  display: grid;
  grid-template-columns: auto minmax($min-width, $max-width) auto;
  grid-column-gap: 30px;
}

.grid-center{
  grid-column: 2/3;
}

// Tablette
@media screen and (min-width: $vw-medium) {
  .wrap {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: $max-width + $min-width) {
  .wrap {
    padding-left: 0;
    padding-right: 0;
  }
}